
.DS_Store
statwrap/__pycache__/utils.cpython-39.pyc
statwrap/__pycache__/sheets.cpython-39.pyc
statwrap/__pycache__/__init__.cpython-311.pyc
statwrap/__pycache__/__init__.cpython-39.pyc
statwrap/__pycache__/core.cpython-39.pyc
statwrap/__pycache__/fpp.cpython-311.pyc
statwrap/__pycache__/fpp.cpython-39.pyc
statwrap/__pycache__/random.cpython-311.pyc
statwrap/__pycache__/requirements.txt
StatWrap.egg-info/top_level.txt
StatWrap.egg-info/SOURCES.txt
StatWrap.egg-info/requires.txt
StatWrap.egg-info/PKG-INFO
StatWrap.egg-info/not-zip-safe
StatWrap.egg-info/dependency_links.txt
statwrap/__pycache__/utils.cpython-311.pyc
statwrap/__pycache__/core.cpython-311.pyc
statwrap/__pycache__/sheets.cpython-311.pyc
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/index.doctree
docs/_build/doctrees/modules.doctree
docs/_build/html/.buildinfo
docs/_build/html/_sources/index.rst.txt
docs/_build/html/_sources/modules.rst.txt
docs/_build/html/_static/alabaster.css
docs/_build/html/_static/basic.css
docs/_build/html/_static/custom.css
docs/_build/html/_static/doctools.js
docs/_build/html/_static/documentation_options.js
docs/_build/html/_static/file.png
docs/_build/html/_static/language_data.js
docs/_build/html/_static/minus.png
docs/_build/html/_static/plus.png
docs/_build/html/_static/pygments.css
docs/_build/html/_static/searchtools.js
docs/_build/html/_static/sphinx_highlight.js
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/modules.html
docs/_build/html/objects.inv
docs/_build/html/py-modindex.html
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/doctrees/fpp.doctree
docs/_build/html/utils.html
docs/_build/html/sheets.html
docs/_build/html/fpp.html
docs/_build/html/_sources/utils.rst.txt
docs/_build/html/_sources/sheets.rst.txt
docs/_build/html/_sources/fpp.rst.txt
docs/_build/doctrees/utils.doctree
docs/_build/doctrees/sheets.doctree
/statVenv
*.pyc
/statwrap/.ipynb_checkpoints
/.ipynb_checkpoints
/tests/.ipynb_checkpoints
Untitled.ipynb
